    <script>
        // Логика добавления/удаления из блеклиста
        function toggleBlacklist() {
            const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value; // Получение CSRF токена
            const toggleBlacklistUrl = "{% url 'admin:user_wallet_blacklist_toggle' wallet_id=wallet.wallet_id %}"; // Подставляем walletId

            fetch(toggleBlacklistUrl, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrfToken
                }
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'added') {
                    document.getElementById('blacklist-icon-outline').style.display = 'none'; // Скрыть контурное сердце
                    document.getElementById('blacklist-icon-filled').style.display = 'inline'; // Показать желтое сердце
                    showNotification('Кошелек добавлен в блек-лист!', 'success');
                } else if (data.status === 'removed') {
                    document.getElementById('blacklist-icon-outline').style.display = 'inline'; // Показать контурное сердце
                    document.getElementById('blacklist-icon-filled').style.display = 'none'; // Скрыть желтое сердце
                    showNotification('Кошелек удален и блек-листа!', 'success');
                } else {
                    showNotification('Ошибка! Попробуйте снова.', 'error');
                }
            })
            .catch(error => {
                alert('Ошибка при добавлении в избранное: ' + error);
            });
        }
    </script>