<div class="wallet-statistics mb-6 flex gap-6 justify-between items-center">
    <!-- Левый блок с выбранным периодом -->
    <div class="flex items-center gap-2 mr-2 ml-2 text-font-default-light dark:text-font-default-dark">
        <span>Статистика за <strong>{{ period_title_value }}</strong></span>
    </div>

    <!-- Правый блок с кнопками выбора периода -->
    <div class="time-filter border border-base-200 dark:bg-base-900 dark:border-base-700 p-2 rounded flex gap-0" style="overflow: hidden;">
        {% for button in period_buttons %}
            <a class="time-btn text-font-default-light dark:text-font-default-dark px-4 py-2 btn-period {% if button.period == selected_period %}active{% endif %}"
               href="javascript:void(0);"
               onclick="updatePeriodAndRedirect('{{ button.period }}')"
               style="transition: background-color 0.3s ease;"
               onmouseover="this.style.backgroundColor='rgba(129, 199, 132, 0.5)'" onmouseout="this.style.backgroundColor=''">
               {{ button.label }}
            </a>
        {% endfor %}
    </div>
</div>
    <style>
        /* Основной стиль для кнопок */
        .time-btn {
            padding: 5px 10px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        /* Стиль для активной кнопки */
        .time-btn.active {
            background-color: #81c784; /* Зеленый цвет */
            color: white;
        }

        /* Стиль для кнопки при наведении */
        .time-btn:hover {
            background-color: rgba(129, 199, 132, 0.5); /* Светлый зеленый при наведении */
        }
    </style>
    <script>
        function updatePeriodAndRedirect(newPeriod) {
            const urlParams = new URLSearchParams(window.location.search);

            // Обновляем параметр period
            urlParams.set('period', newPeriod);

            // Перенаправляем на новый URL с обновленным параметром
            window.location.search = urlParams.toString();
        }
    </script>